* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	color: #333333;
}

body {

	background-color:#999999;	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/

  margin:0 auto;	/*内容全体をセンタリング*/
	text-align:center;	/*テキストの配置を左揃えにする*/
	background-color:#E0FFFF;		/*内容全体の背景色*/

	font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;

}

div#div1 {

	width:850px;
	margin:100 auto;	/*内容全体をセンタリング*/
	text-align:center;	/*テキストの配置を左揃えにする*/
	background-color:#ffffff;		/*内容全体の背景色*/

	padding: 0.5em 1em;
			border: double 5px #4ec4d3;

}

div#div2 {

	font-size: 100%;
	color:#4ec4d3;
}
